@import "base.css";
body{
    width: 100%;
    height: 100vh;
    padding-top: 0;
    background-image: var(--gradi-verde);
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 340px;
    height: max-content;
    padding: 10px;
    border-radius: 30px;
    background: var(--fondo-tema);
    box-shadow: var(--sombra-suave);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
form input{
    width: 90%;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 6px 7px;
    background-color: var(--color-inputs);
}
form .btn-ingresar{
    width: 100px;
    color: #090909;
    padding: .5rem 1.5rem;
    font-size: 14px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 4px 4px 9px #bebebe,
    -4px -4px 9px #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}
.error{
    color: red;
    font-size: .9rem;
    position: absolute;
    transform: translateY(15px);
}
.ventana_2{
    width: 1000px;
    height: 600px;
}
@media screen {
    
}