@import "base.css";

.container_nav {
    position: fixed;
    width: 95%;
    transform: translateX(-50%);
    left: 50%;
    height: 70px;
    top: 0;
    padding: 0 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--sombra-suave);

    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all .5s;
    z-index: 30;
}
.container_nav.abajo {
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    transition: all 1s;
}
.menu-icon {
    cursor: pointer;
    display: none; 
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}
.menu-icon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.menu-icon.active .bar:nth-child(2) {
    opacity: 0;
}
.menu-icon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* logos nav*/
.logos-nav {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.logos-nav .saci {
    color: var(--verde_sena);
    font-size: 30px;
    font-weight: 800;
}

.logos-nav .separa_logos {
    width: 3px;
    background-color: rgb(85, 84, 84);
    height: 50px;
    border-radius: 5px;
}

.logos-nav img {
    width: 3rem;
}

/* --------------------------- */
.nav {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.nav.active  {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height:calc(100vh - 60px);
    top: 60px; /* Ajusta según la altura de tu encabezado */
    gap: none;
}

.nav_a {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav.active .nav_a{
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: initial;
    background-color: rgba(190, 190, 190, 0.678);
    padding: 5px;

    height: auto;
    gap: 1rem;
}
.salir_a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav.active .salir_a{
    display: block;
    /* //necesito mostrarlooo */
}
.user_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a img,
.icon {
    width: 27px;
    flex-direction: column;
}
.nav.active a img{
    width: 37px;
}
.nav_a .tiptext,
.user_a .tiptext,
.salir_a .tiptext {
    display: none;
    position: absolute;
    z-index: 300;
    transform: translateY(38px);
    padding: 3px;
    background-color: rgba(190, 190, 190, 0.678);
    color: #323232;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    transition: all 2s;
}

.nav_a:hover .tiptext,
.user_a:hover .tiptext,
.salir_a:hover .tiptext {
    display: block;
}
.nav.active .nav_a .tiptext{
   display: block;
   position:inherit;
   transform: none;
   font-size: 17px;
   background-color: transparent;

}
/* foto de perfil, nombre de ususario y rol */
.cont_user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cont_user .img_user {
    width: 50px;
    border-radius: 50%;
    border: 3.5px solid var(--verde_sena);
}

.nombre_rol {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7e7e7e;
}

.user-nombre {
    font-size: 16px;
    font-weight: 700;
    color: var(--verde_sena);
}

.user-rol {
    font-size: 12px;
    font-weight: 500;
}

/* termina navegador*/
.contenedor_contenido {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    background: var(--fondo-tema);
    box-shadow: var(--sombra-suave);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.a_iniciar_aplicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--gradi-verde);
    border-radius: 0 0 20px 20px;
}
/* botones, para iniciar app de ingresos y permisos */
.app_ingresos {
    background-color: #7209b7ff;
}
.app_permisos {
    background-color: #39a900;
}
/* es el numerito que indica la pagina de paginacion */
.pagination-link.is-current {
    background-color:var(--verde_sena);
    border: none;
    border-radius: 50px;
    color: #fff;
}

/* --------comienza home--------- */
.panel-heading {
    background: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.panel-heading p {
    font-size: 15px;
    font-weight: 400;
}

.panel-heading .ssaci-cont {
    color: var(--verde_sena);
    font-size: 30px;
    font-weight: 800;
    margin-top: -10px;
}

.panel_iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.iconos {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    text-decoration: none;
}

.iconos h2 {
    color: #333;
    text-align: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.iconos p {
    text-align: center;
    color: #000;
}

.iconos:hover h2 {
    background: #bdb1d3a6;
    border-radius: 6px;
    transition: background-color .5s;
}

/* termina home*/
/* comienza articulos */
.box_buscador {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.box_buscador form input {
    padding: 4px;
    border: none;
    border: 1px solid #7109b759;
    border-radius: 5px;
    outline: none;
}
/* termina articulos */
/* comiena perfil */
.div-info-perfil {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.div-info-perfil .info-foto-perfil {
    width: 95%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--gradi-verde);
    border-radius: 10px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.div-info-perfil .info-foto-perfil .img_user {
    width: 150px;
    border-radius: 50%;
    border: 4px solid var(--fondo-tema);
    transform: translate(10px, 50px);
}

.info-perfil {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.div-info-perfil .columns .column .control h3 {
    font-size: 18px;
    color: #000000;
}
/* formularios en modal */
.box-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box-modal .columns {
    display: flex;
    flex-direction: column;
}
.box-modal .columns-con-dos-column{
    width: 100%;
    display: flex;
    align-items: center;
}
.box-modal .columns .column .control label {
    font-weight: bold;
}
/* formulario para aprendisz y usuario nuevo */
.box-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.box-form .columns {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.box-form .columns .column {
    flex: 1;
    padding: 10px;
}

.box-form .columns .column .control {
    margin-bottom: 10px;
}

.box-form .columns .column .control .label {
    font-weight: bold;
}

.box-form .columns .column .control .input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.box-form .column-art-cod {
    display: flex;
    flex-direction: column;
    width: 100%
}

.box-form .column-art-cod textarea {
    width: 100%;
    height: 70px;
    padding: 5px 10px;
}

/* ----------- */
.ul-mini-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ul-mini-nav li {
    list-style: none;
    border-radius: 4px;
    border-bottom: 2px solid transparent;
}

.ul-mini-nav li a {
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.ul-mini-nav li.is-active {
    border-bottom: 2px solid var(--verde_sena);
}

/* ------------------------ */
.no_hay_registros {
    width: 100%;
    text-align: center;
}

/* ---------------------------------------------------------- */
/* ---------------------esto no se usa por ahora------------------------------------- */
.listas {
    color: #dd1919;
    display: flex;
}

/*dropdown*/
.drop_list {
    border: 1px solid rgb(236, 82, 82);
    display: none;

}

.drop_list a {
    color: #fff;
    display: flex;
    padding: 10px;
}

.drop_list a:hover {
    background: rgba(255, 255, 255, 0.425);
    color: #fff;
}

.drop_list.active {
    display: block;
}

.drop_arrow {
    transition: transform .3s;
}

.drop_arrow--rotate {
    transform: rotate(180deg);
}

/*segundo dropdown*/
.drop_list_product {
    border: 1px solid rgb(236, 82, 82);
    display: none;
}

.drop_list_product a {
    color: #fff;
    display: flex;
    padding: 10px;
}

.drop_list_product a:hover {
    background: rgba(255, 255, 255, 0.425);
    color: #fff;
}

.drop_list_product.active2 {
    display: block;
}

.drop_arrow2 {
    transition: transform .3s;
}

.drop_arrow--rotate2 {
    transform: rotate(180deg);
}

.info_completa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: red;
    border-radius: 5px;

}

.info_empresa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 20px;
    width: 350px;
}

/* ---------------------------------------------------------------- */

#contenido {
    width: 1200px;
}
.error {
    color: #ed1f1f;
    font-size: 1rem;
    padding-left: 37px;
}

/* Adjust styles for mobile devices */
@media (max-width: 729px) {
    .scroll-tabla {
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #eceef2;
            border-radius: 180px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--verde_sena);
            border-radius: 180px;
        }
    }

    .columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
    .menu-icon{
        display: block;
    }
    .nav,
    .salir_a {
        display: none;
    }

    .container_nav {
        justify-content:space-between;

    }
    .div-info-perfil .info-foto-perfil .img_user {
        width: 150px;
    }
}

