@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rock+Salt&display=swap');
@font-face{
    font-family: 'blanka';
    src: url(Blanka-Regular.otf);
}
:root {
    --fondo-tema:white;
    --fondo-nav: #7209b7ff;
    --modo-noche:#0b0014ff;
    --login-registro: rgba(255, 255, 255, 0.61);
    /* este es el color de el logo ssaci y otras*/
    --color-logo: #7209b7ff;

    --fondo-bl: rgb(255, 255, 255);
    --color-fecha: rgb(44, 119, 94);
    --color-hoja: #ffffff9a;
    --color-inputs:  rgb(255, 255, 255);

    --sombra: -2px 3px 4px 0px #dadada85;
    --sombra-cajas: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
    --sombra-dentro: inset 4px 4px 9px #bebebe;

    --fondo-footer:rgba(153, 153, 153, 0.76);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: var(--fondo-tema);
}
/* comienza navegador */
.container_nav{
    position: fixed;
    width: 95%;
    transform: translateX(-50%);
    left: 50%;
    height: 70px;
    top: 0;
    padding: 0 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--sombra);

    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all .5s;
    z-index: 30;
}
.container_nav.abajo{
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    transition: all 1s;
}
/* logos nav*/
.logos-nav{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
.logos-nav .saci{
    color: var(--color-logo);
    font-size: 30px;
    font-family: 'blanka';
    font-weight: 800;
    margin-top: -10px;
}
.logos-nav .separa_logos{
    width: 4px;
    background-color: rgb(85, 84, 84);
    height: 50px;
    border-radius: 5px;
}
.logos-nav img{
    width: 3rem;
}
/* --------------------------- */
.nav{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.nav_a{
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.salir_a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a img{
    width: 27px;    
    flex-direction: column;
}
.nav_a .tiptext, .user_a .tiptext, .salir_a .tiptext {
    display: none;
    position: absolute;
    z-index: 300;
    transform: translateY(38px);
    padding: 3px;
    background-color:rgba(190, 190, 190, 0.678);
    color: #323232;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    transition: all 2s;
}
.nav_a:hover .tiptext , .user_a:hover .tiptext,  .salir_a:hover .tiptext {
    display: block;
}
.container-hide {
    transform: translateX(-100%);
}
/* foto de perfil, nombre de ususario y rol */
.cont_user{
display: flex;
align-items: center;
gap: .5rem;
}
.cont_user .img_user{
    width: 50px;
    border-radius: 50%;
    border: 3.5px solid var(--fondo-tema);
}
.nombre_rol{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7e7e7e;
}
.user-nombre{
    color: var(--color-logo);
}
.user-rol{
    font-size: 12px;
    font-weight: 500;
}
/* termina navegador*/
/* contenedor general-contenido */
.contenedor_derecha{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    background: var(--fondo-tema);
    box-shadow: var(--sombra-cajas);
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}
/* --------comienza home--------- */
.panel-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.panel-heading .ssaci-cont{
    color: var(--color-logo);
    font-size: 23px;
    font-family: 'blanka';
    font-weight: 800;
    margin-top: -10px;
}
.panel_iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.iconos{
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    text-decoration: none;
}
.iconos h2{
    color: #333;
    text-align: center;
    border-bottom: 1px solid rgb(216,216,216);
}
.iconos p{
    text-align: center;
    color: #000;
}
.iconos:hover h2{
    background: #bdb1d3a6;
    border-radius: 6px;
    transition: background-color .5s;
}
.a_iniciar_aplicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ffffff, #d4c9f4, #af93e5, #8f5ad0, #7209b7);
    border-radius: 0 0 20px 20px;
}
.a_iniciar_aplicacion a{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    background-color: #7209b7ff;
    color: white;
}
.a_iniciar_aplicacion .img_guardia{
    width: 300px;
}
/* termina home*/
/* comienza articulos */
.box_buscador{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.box_buscador form button{
    color: #090909;
    padding: 4px;
    font-size: 14px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}
.box_buscador form input{
    padding: 4px;
    border: none;
    border:1px solid  #7109b759;
    border-radius: 5px;
    outline: none;
}
/* termina articulos */

/* comienza aprendices*/
/* termina aprendices */

/* comienza tituladas */
/* termina tituladas */

/* comienza lista de registros */
/* termina lista de registro */

/* comienza usuarios */
/* termina usuarios */

/* comiena perfil */
.modal-info-perfil{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.modal-info-perfil .info-foto-perfil{
    display: flex;
    align-items:center;
    justify-content:center ;
}
.modal-info-perfil .info-foto-perfil .img_user{
    width: 200px;
    border-radius: 50%;
    border: 3.5px solid var(--fondo-tema);
}
.modal-info-perfil .columns .column .control h1{
    font-size: 20px;
    color: #7e7e7e;
}
.modal-info-perfil .info-botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.modal-info-perfil .button{
    color: #090909;
    padding: 4px;
    font-size: 14px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    display:flex ;
    align-items: center;
    justify-content:center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}
.modal{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 40;
    display: none;
}
.modal-background{
    background-color: #000000;
}
.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal.is-active{
    display: flex;
}

.modal-card {
   width: 100%;
}

.modal-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.modal-card, .modal-content {
    position: relative;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.modal-card-head {
    align-items: center;
    background-color: #cfdafac3;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding:10px;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-card-title {
    color: #363636;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
}
.delete{
    user-select: none;
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
}
.delete::before{
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
    height: 2px;
    width: 50%;
}
.delete::after{
    height: 50%;
    width: 2px;
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}
.modal-card-body {
    width: 100%;
    background-color: #fff;
}
.modal .box{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
/* ----------- */
.ul-mini-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.ul-mini-nav li{
    list-style: none;
    border-radius: 4px;
    border-bottom: 2px solid transparent;
}
.ul-mini-nav li a{
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 3px;
}
.ul-mini-nav li.is-active{
    border-bottom: 2px solid rgba(113, 9, 183, 0.763);
}
/* ------------------------ */
.table-container{
    width: 100%;
    background-color:rgba(189, 186, 186, 0.234);
    padding: 5px;
    border-radius: 3px;
}
.table-container table {
    width: 100%;
    border-collapse: separate;
}
.table-container table thead,.table-container table tr th{
    border: 1px solid rgb(191, 191, 236);
}
.table-container table thead tr th{
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
}
.no_hay_registros{
    width: 100%;
    text-align: center;
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
.listas{
    color: #dd1919;
    display: flex;
}
/*dropdown*/
.drop_list {
    border: 1px solid rgb(236,82,82);
    display: none;
    
}
.drop_list a{
    color: #fff;
    display: flex;
    padding: 10px;
}
.drop_list a:hover{
    background: rgba(255, 255, 255, 0.425);
    color: #fff;
}
.drop_list.active {
    display: block;
}
.drop_arrow{
    transition: transform .3s;
}
.drop_arrow--rotate{
    transform: rotate(180deg);
}

/*segundo dropdown*/
.drop_list_product{
    border: 1px solid rgb(236,82,82);
    display: none;
}
.drop_list_product a{
    color: #fff;
    display: flex;
    padding: 10px;
}
.drop_list_product a:hover{
    background: rgba(255, 255, 255, 0.425);
    color: #fff;
}

.drop_list_product.active2 {
    display: block;
}

.drop_arrow2{
    transition: transform .3s;
}
.drop_arrow--rotate2{
    transform: rotate(180deg);
}
/* ---------------------------------------------------------------- */
.container-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 0 !important;
}

.boton:hover{
    cursor: pointer;
}

.icon_detalles{
    cursor: pointer;
}

.field input{
    width: 350px;
}
.formulario_foto input{
    width: 250px;
}
.img_logo{
    width: 300px;
}
.info_completa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: #fff;
    border-radius: 5px;

}
.info_empresa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 20px;
    width: 350px;
}
.is-flex {
    display: flex!important;
}
#contenido{
    width: 1200px;
}
#contenedorMain{
    border: 1px solid gray;
}
.error{
    color: red;
    font-size: 1rem;
}

#modal-card{
    width: 1100px;
}
#buscador{
    display: none;
}
/* --------------------- */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0a0a0;
}
.pagination_a img{
    width: 20px;
}
.pagination ul li a{
    text-decoration: none;
    color: #000;
    padding: 2px;
    border-radius: 10px;
    background-color: white;
}
@media screen and (max-width: 733px) {
    .nav, .cont_user, .salir_a{
      display: none;
    }
    .container_nav{
        justify-content: center;
    }
    .a_iniciar_aplicacion  .img_guardia{
        width: 200px;
    }
    .modal-info-perfil .info-foto-perfil .img_user{
        width: 150px;
    }
}