@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Work+Sans:ital,wght@0,400;0,500;0,900;1,200;1,400;1,500;1,900&display=swap');
:root {
    --fondo-tema: rgb(255, 255, 255);
    --fondo-nav: rgb(44, 183, 9);
    --modo-noche: #0b0014ff;
    --login-registro: rgba(255, 255, 255, 0.61);
    /* este es el color de el logo ssaci y otras*/
    --color-logo: #59a900;

    --fondo-bl: rgb(255, 255, 255);
    --color-fecha: rgb(44, 119, 94);
    --color-hoja: #ffffff9a;
    --color-inputs: rgb(255, 255, 255);

    --sombra: -2px 3px 4px 0px #dadada85;
    --sombra-cajas: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
    --sombra-dentro: inset 4px 4px 9px #bebebe;

    --fondo-footer: rgba(153, 153, 153, 0.76);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

body {
    width: 100%;
    min-width: 200px;
    min-height: 100vh;
    background: var(--fondo-tema);
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #eceef2;
        border-radius: 180px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-logo);
        border-radius: 180px;
    }
}

/* todos los------------------------------ */
h3 {
    font-weight: 700;
}

.box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.button {
    background-color: #38a900a8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .5rem;
    transition: background-color 0.3s ease;
}

select {
    outline: none;
    border: 1px solid gray;
    background-color: rgb(230, 230, 230);
}

.pagination-link.is-current {
    background-color: #39a900;
    border: none;
    border-radius: 50px;
    color: #fff;
}

/* comienza navegador */
.container_nav {
    position: fixed;
    width: 95%;
    transform: translateX(-50%);
    left: 50%;
    height: 70px;
    top: 0;
    padding: 0 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--sombra);

    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all .5s;
    z-index: 30;
}

.container_nav.abajo {
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    transition: all 1s;
}

/* logos nav*/
.logos-nav {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.logos-nav .saci {
    color: var(--color-logo);
    font-size: 30px;
    font-weight: 800;
}

.logos-nav .separa_logos {
    width: 3px;
    background-color: rgb(85, 84, 84);
    height: 50px;
    border-radius: 5px;
}

.logos-nav img {
    width: 3rem;
}

/* --------------------------- */
.nav {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.nav_a {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.salir_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a img,
.icon {
    width: 27px;
    flex-direction: column;
}

.nav_a .tiptext,
.user_a .tiptext,
.salir_a .tiptext {
    display: none;
    position: absolute;
    z-index: 300;
    transform: translateY(38px);
    padding: 3px;
    background-color: rgba(190, 190, 190, 0.678);
    color: #323232;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    transition: all 2s;
}

.nav_a:hover .tiptext,
.user_a:hover .tiptext,
.salir_a:hover .tiptext {
    display: block;
}

.container-hide {
    transform: translateY(-100%);
}

/* foto de perfil, nombre de ususario y rol */
.cont_user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cont_user .img_user {
    width: 50px;
    border-radius: 50%;
    border: 3.5px solid var(--fondo-tema);
}

.nombre_rol {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7e7e7e;
}

.user-nombre {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-logo);
}

.user-rol {
    font-size: 12px;
    font-weight: 500;
}

/* termina navegador*/
/* contenedor general-contenido */
.contenedor_derecha {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 10px;
    border-radius: 10px;
    background: var(--fondo-tema);
    box-shadow: var(--sombra-cajas);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

/* --------comienza home--------- */
.panel-heading {
    background: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.panel-heading p {
    font-size: 15px;
    font-weight: 400;
}

.panel-heading .ssaci-cont {
    color: var(--color-logo);
    font-size: 30px;
    font-weight: 800;
    margin-top: -10px;
}

.panel_iconos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.iconos {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    text-decoration: none;
}

.iconos h2 {
    color: #333;
    text-align: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.iconos p {
    text-align: center;
    color: #000;
}

.iconos:hover h2 {
    background: #bdb1d3a6;
    border-radius: 6px;
    transition: background-color .5s;
}

.a_iniciar_aplicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ffffff, #d4c9f4, #af93e5, #8f5ad0, #7209b7);
    border-radius: 0 0 20px 20px;
}

.a_iniciar_aplicacion a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    background-color: #7209b7ff;
    color: white;
}

.a_iniciar_aplicacion .img_guardia {
    width: 300px;
}

/* termina home*/
/* comienza articulos */
.box_buscador {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.box_buscador form button {
    color: #090909;
    padding: 4px;
    font-size: 14px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}

.box_buscador form input {
    padding: 4px;
    border: none;
    border: 1px solid #7109b759;
    border-radius: 5px;
    outline: none;
}

/* termina articulos */

/* comienza aprendices*/
/* termina aprendices */

/* comienza tituladas */
/* termina tituladas */

/* comienza lista de registros */
/* termina lista de registro */

/* comienza usuarios */
/* termina usuarios */

/* comiena perfil */
.modal-info-perfil {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.modal-info-perfil .info-foto-perfil {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, #ffffff, #d4c9f4, #af93e5, #8f5ad0, #7209b7);
    border-radius: 10px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.modal-info-perfil .info-foto-perfil .img_user {
    width: 200px;
    border-radius: 50%;
    border: 4px solid var(--fondo-tema);
    transform: translate(10px, 50px);
}

.info-perfil {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.modal-info-perfil .columns .column .control h3 {
    font-size: 18px;
    color: #000000;
}

.button-eliminar {
    background-color: red;
}

/* Estilos de la tarjeta del modal */
.modal-card {
    border-radius: 10px;
    background-color: var(--fondo-tema);
    box-shadow: var(--sombra-cajas);
}

/* Estilos de la cabecera del modal */
.modal-card-head {
    background-color: rgb(201, 201, 201);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.modal-advertencia {
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.161);
}

.modal-card-body {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #eceef2;
        border-radius: 180px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-logo);
        border-radius: 180px;
    }
}

/* formularios en modal */
.box-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box-modal .columns {
    display: flex;
    flex-direction: column;
}
.box-modal .columns-con-dos-column{
    width: 100%;
    display: flex;
    align-items: center;
}
.box-modal .columns .column .control label {
    font-weight: bold;
}
/* formulario para aprendisz y usuario nuevo */
.box-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.box-form .columns {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.box-form .columns .column {
    flex: 1;
    padding: 10px;
}

.box-form .columns .column .control {
    margin-bottom: 10px;
}

.box-form .columns .column .control .label {
    font-weight: bold;
}

.box-form .columns .column .control .input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.box-form .column-art-cod {
    display: flex;
    flex-direction: column;
    width: 100%
}

.box-form .column-art-cod textarea {
    width: 100%;
    height: 70px;
    padding: 5px 10px;
}

/* ----------- */
.ul-mini-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ul-mini-nav li {
    list-style: none;
    border-radius: 4px;
    border-bottom: 2px solid transparent;
}

.ul-mini-nav li a {
    text-decoration: none;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 3px;
}

.ul-mini-nav li.is-active {
    border-bottom: 2px solid var(--color-logo);
}

/* ------------------------ */
.no_hay_registros {
    width: 100%;
    text-align: center;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
.listas {
    color: #dd1919;
    display: flex;
}

/*dropdown*/
.drop_list {
    border: 1px solid rgb(236, 82, 82);
    display: none;

}

.drop_list a {
    color: #fff;
    display: flex;
    padding: 10px;
}

.drop_list a:hover {
    background: rgba(255, 255, 255, 0.425);
    color: #fff;
}

.drop_list.active {
    display: block;
}

.drop_arrow {
    transition: transform .3s;
}

.drop_arrow--rotate {
    transform: rotate(180deg);
}

/*segundo dropdown*/
.drop_list_product {
    border: 1px solid rgb(236, 82, 82);
    display: none;
}

.drop_list_product a {
    color: #fff;
    display: flex;
    padding: 10px;
}

.drop_list_product a:hover {
    background: rgba(255, 255, 255, 0.425);
    color: #fff;
}

.drop_list_product.active2 {
    display: block;
}

.drop_arrow2 {
    transition: transform .3s;
}

.drop_arrow--rotate2 {
    transform: rotate(180deg);
}

/* ---------------------------------------------------------------- */
.container-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 0 !important;
}

.icon_detalles {
    cursor: pointer;
}

.field input {
    width: 350px;
}

.formulario_foto input {
    width: 250px;
}

.info_completa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: red;
    border-radius: 5px;

}

.info_empresa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 20px;
    width: 350px;
}

.is-flex {
    display: flex !important;
}

#contenido {
    width: 1200px;
}

#contenedorMain {
    border: 1px solid gray;
}

.error {
    color: #ed1f1f;
    font-size: 1rem;
    padding-left: 37px;
}

/* Adjust styles for mobile devices */
@media (max-width: 729px) {
    .scroll-tabla {
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #eceef2;
            border-radius: 180px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-logo);
            border-radius: 180px;
        }
    }

    .columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .nav,
    .cont_user,
    .salir_a {
        display: none;
    }

    .container_nav {
        justify-content: center;
    }

    .a_iniciar_aplicacion .img_guardia {
        width: 200px;
    }

    .modal-info-perfil .info-foto-perfil .img_user {
        width: 150px;
    }
}