@import "base.css";

* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    padding-top: 0;
    background-image: var(--gradi-verde);
    display: flex;
    align-items: center;
    justify-content: center;
}
.alerta{
    width: 400px;
    background-color: var(--color-logo);
}
.box-login{
    width: 340px;
    height: max-content;
    padding: 15px;
    border-radius: 50px;
    background: var(--login-registro);
    box-shadow: var(--sombra-cajas);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* --------------------- */
.logos-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    gap: .5rem;
}
.logos-login .saci {
    color: var(--color-logo);
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}
.logos-login .separa_logos{
    width: 4px;
    background-color: rgb(85, 84, 84);
    height: 50px;
    border-radius: 5px;
}
.logos-login img {
    width: 60px;
}
/* -------------------- */
.btn-ingresar {
    align-self: center;
    width: 200px;
    background-color: #7209b7;
}

.box-login form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

/* los estilos de los inpust campos estan en base.css */
.box-login .control-login label img{
    width: 25px;
    transform: translateY(9px);
}
.message{
    position: absolute;
    transform: translateY(130px);
}