@import "base.css";
.message.is-success {
    background-color: var(--verde-sena);
    width: max-content;
    align-self: center;
}
.message.is-success .message-header {
    background-color: #02ff0c;
    color: #000;
}
/* Estilos de la tarjeta del modal */
.modal-card {
    border-radius: 10px;
    background-color: var(--fondo-tema);
    box-shadow: var(--sombra-suave-cajas);
}

/* Estilos de la cabecera del modal */
.modal-card-head {
    background-color: rgb(201, 201, 201);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.modal-advertencia {
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.161);
}

.modal-card-body {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #eceef2;
        border-radius: 180px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--verde_sena);
        border-radius: 180px;
    }
}

@media (max-width: 650px) {
    title.is-5 {
        font-size: 1rem;
    }
    .message-body.is-size-6 {
        font-size: .7rem!important;
    }
}