@import "base.css";
/* comienza navegador */
.container_nav {
    position: fixed;
    width: 95%;
    transform: translateX(-50%);
    left: 50%;
    height: 70px;
    top: 0;
    padding: 0 20px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--sombra-suave);

    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all .5s;
    z-index: 30;
}

.container_nav.abajo {
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    transition: all 1s;
}

/* logos nav*/
.logos-nav {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.logos-nav .saci {
    color: var(--verde_sena);
    font-size: 30px;
    font-weight: 800;
}

.logos-nav .separa_logos {
    width: 3px;
    background-color: rgb(85, 84, 84);
    height: 50px;
    border-radius: 5px;
}

.logos-nav img {
    width: 3rem;
}

/* --------------------------- */
.nav {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.nav_a {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.salir_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a img,
.icon {
    width: 27px;
    flex-direction: column;
}

.nav_a .tiptext,
.user_a .tiptext,
.salir_a .tiptext {
    display: none;
    position: absolute;
    z-index: 300;
    transform: translateY(38px);
    padding: 3px;
    background-color: rgba(190, 190, 190, 0.678);
    color: #323232;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    transition: all 2s;
}

.nav_a:hover .tiptext,
.user_a:hover .tiptext,
.salir_a:hover .tiptext {
    display: block;
}

.container-hide {
    transform: translateY(-100%);
}

/* foto de perfil, nombre de ususario y rol */
.cont_user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cont_user .img_user {
    width: 50px;
    border-radius: 50%;
    border: 3.5px solid var(--verde_sena);
}

.nombre_rol {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7e7e7e;
}

.user-nombre {
    font-size: 16px;
    font-weight: 700;
    color: var(--verde_sena);
}

.user-rol {
    font-size: 12px;
    font-weight: 500;
}

/* termina navegador*/