@import "base.css";

.hoja {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(196, 196, 196);
    border-top: none;
    background-color: white;
}
.form-permiso{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 196);
    border-top: none;
    background-color: white;
}
.div-fecha {
    text-align: right;
    margin-bottom: 0px;
}
.fecha {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-logo);
}
.hoja label {
    display: block;
    font-weight: bold;
    color: #333;
} 
.hoja input[type="text"],
select{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
}
.div-ficha-ambiente{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.div-ficha-ambiente div input{
    width: 100px;
}
.hoja .div-hora {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 20px;
}
.div-hora .hora {
    font-size: 20px;
    font-weight: bold;
}
.hoja .periodo {
    background-color:var(--verde_sena);
    color: rgb(255, 255, 255);
    border:  2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.periodo:hover {
    background-color:white;
    color: blueviolet;
    border:  2px solid blueviolet;
} 
#motivo {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
}
/* ------------------- */
/* Estilos para el contenedor principal */
.resultado {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para el encabezado dentro del contenedor */
.resultado h1 {
    font-size: 24px;
    color: #333; /* Cambia el color a tu preferencia */
}
